<div flex ng-class="['editor-layout', net.activeTool]">
	<md-button ng-if="net.activeTool == 'Zoom'" class="md-primary" ng-click="resetZoom()" style="position: absolute; right:0; bottom: 0;z-index: 10;">
		reset zoom
	</md-button>
	<div ng-if="net.activeTool == 'Select'" style="position: absolute; right:0; bottom: 0;z-index: 10;">
		<md-button  class="md-primary" ng-click="extractSubnet()">
			extract subnet
		</md-button>
		<md-button  class="md-primary" ng-click="analyzeSubnet($event)">
			analyze subnet
		</md-button>
	</div>
	<topbar></topbar>
	<menubar></menubar>
	<toolbar></toolbar>
	<div id="main-canvas">
		<svg ng-hide="error">
			<path class="link dragline hidden"></path>
		</svg>
		<div class="error-canvas" ng-if="error" layout="row" layout-align="center center">
			<md-card class="error-card" flex>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Rendering Error</span>
						<span class="md-subhead">The editor couldn't render this net. There was probably a syntax error at the APT import.</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-actions layout="row" layout-align="end center">
					<md-button ng-click="deleteNet()" class="md-primary">Delete This Net</md-button>
				</md-card-actions>
			</md-card>
		</div>
	</div>
</div>